/* ----- CUSTOM STYLING -----

FONTS:
DM Serif Display
DM Sans (not incorporated yet)

COLORS:
DarkGray
GhostWhite

--------------------------- */

.header {
  font-family: 'DM Serif Display';
}

$primary: Gainsboro;
$body-bg: GhostWhite;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import '~bootstrap/scss/bootstrap.scss';